In [2]:
import pandas as pd
from pandasetl.customer import Customer

In [1]:
from pandasetl.employees import Employees

In [3]:
df = pd.read_csv(r'C:\Users\1\VSC\PandasETL\data\employees.csv')

In [4]:
df.head()

   employeeID   lastName  ... reportsTo                               photoPath
0           1    Davolio  ...       2.0    http://accweb/emmployees/davolio.bmp
1           2     Fuller  ...       NaN     http://accweb/emmployees/fuller.bmp
2           3  Leverling  ...       2.0  http://accweb/emmployees/leverling.bmp
3           4    Peacock  ...       2.0    http://accweb/emmployees/peacock.bmp
4           5   Buchanan  ...       2.0   http://accweb/emmployees/buchanan.bmp

[5 rows x 18 columns]

In [6]:
for row in df.itertuples():
    print(row.lastName,row.firstName)

Davolio Nancy
Fuller Andrew
Leverling Janet
Peacock Margaret
Buchanan Steven
Suyama Michael
King Robert
Callahan Laura
Dodsworth Anne

In [21]:
for r in df.itertuples():
    print(getattr(r,'categoryName'),getattr(r,'categoryID'))

Beverages 1
Condiments 2
Confections 3
Dairy Products 4
Grains/Cereals 5
Meat/Poultry 6
Produce 7
Seafood 8

In [11]:
from pandas import DataFrame


x = DataFrame(df)