In [1]:
pip show classes

Name: classes
Version: 0.0.1
Summary: My short description for my project.
Home-page: https://github.com/WitekWitos/PandasETL
Author: Witold Piwowarski
Author-email: witold.piwowarski.pollub@gmail.com
License: Custom
Location: c:\users\1\vsc\pandasetl\env\lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip show classes

Name: classes
Version: 0.0.1
Summary: My short description for my project.
Home-page: https://github.com/WitekWitos/PandasETL
Author: Witold Piwowarski
Author-email: witold.piwowarski.pollub@gmail.com
License: Custom
Location: c:\users\1\vsc\pandasetl\env\lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [20]:
from classes.Customer import Customer

In [19]:
customer4 = Customer('Seb',8,'Male','bussiness client')

In [22]:
import pandas as pd

In [23]:
pd.read_csv(r'C:\Users\1\VSC\PandasETL\data\categories.csv')

,categoryID,categoryName,description,picture
0,1,Beverages,Soft drinks coffees teas beers and ales,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1,2,Condiments,Sweet and savory sauces relishes spreads and s...,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
2,3,Confections,Desserts candies and sweet breads,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
3,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
4,5,Grains/Cereals,Breads crackers pasta and cereal,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
5,6,Meat/Poultry,Prepared meats,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
6,7,Produce,Dried fruit and bean curd,0x151C2F00020000000D000E0014002100FFFFFFFF4269...
7,8,Seafood,Seaweed and fish,0x151C2F00020000000D000E0014002100FFFFFFFF4269...